[submodule "vendor/flycheck-local-flake8"]
	path = vendor/flycheck-local-flake8
	url = https://github.com/rmuslimov/flycheck-local-flake8
[submodule "atom-one-dark-theme"]
	path = vendor/atom-one-dark-theme
	url = https://github.com/mischkew/atom-one-dark-theme
[submodule "vendor/slime-repl-ansi-color"]
	path = vendor/slime-repl-ansi-color
	url = https://github.com/enriquefernandez/slime-repl-ansi-color
